{% extends "base.html" %}

{% block title %}Escáner{% endblock %}

{% block b_e_scanner %}<a href="#" class="nav-link active" aria-current="page">Escáner</a>{% endblock %}

{% block header_title %}
    <h1 class="mb-3">Escáner QR</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <div id="camera-container">
        </div>

        <div class="slider-container">
            <input type="range" class="slider" id="zoomControl" min="1" max="3" step="0.05" value="1" disabled>
        </div>

        <div id="controls">
            <button id="start-scan">Iniciar Escaneo</button>
            <button id="stop-scan">Detener Escaneo</button>
        </div>

        <p id="msg"></p>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/scanner.js') }}"></script>
{% endblock %}