*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100svh;
    width: 100%;
}

.login-card, .register-card{
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
    background: #fff;
}

.title{
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

h2{
    text-align: center;
    margin: 0.5rem 0;
}

.icons {
    font-size:15rem;
}

#camera-container{
    position: relative;
    width: 100%;
    max-width: 600px;
    min-height: 100px;
    margin: 0 auto;
    aspect-ratio: 1;
    background: #000000;
    border-radius: 10px;
    overflow: hidden;
}

.slider-container {
    width: 100%;
    padding: 10px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 25px;
}
.slider:hover{
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background: #38435e;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background: #38435e;
    cursor: pointer;
}

.qr-frame {
    position: absolute;
    inset: 0;
    border: 4px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    box-sizing: border-box;
    pointer-events: none;
    margin: 20px;
}

#controls {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 15px;
}

button{
    padding: 0.8rem 1.2rem;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #2f3850;
    color: #ffffff;
}

#msg{
    text-align: center;
    word-break: break-all;
    font-weight: bold;
}

.table{
    display: none;
}

.table-responsive {
    max-height: 380px;
}

.table-responsive::-webkit-scrollbar {
    display: none;
}

.table thead {
    position: sticky;
    inset-block-start: 0;
}

tr.hide {
    display: none;
}

#attendeesTable th:first-child,
#attendeesTable tr td:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
}

#attendeesTable thead {
    z-index: 3;
}

#attendeesTable thead th{
    position: sticky;
    top: 0;
    z-index: 3;
}